
 /* =====> NAVBAR Styles */

 * {
  padding: 0;
  margin: 0
 }

.navbar {
  background:  radial-gradient(circle,rgba(50, 50, 50, 1) 0%,rgba(8, 9, 22, 1) 100%);
  padding: 0 84px;
  color: var(--mixed-dim-white);
}

.navbar  * {
	color: var(--mixed-dim-white);
}

